h1{
    color:red;
}
h2{
    color:rgb(0, 0, 0);
}
#uniforme{
width: 150px;
height: auto;
}
h1{
    color:rgb(231, 6, 6);
}
h2{
    color:rgb(0, 0, 0);
}
h3{
    color:rgb(0, 0, 0)
}
.buzos{
margin-left: 100px;
}